.content {
    padding-top: 10px;
    min-height: 100%;
    display: flex;
    width: 100%;
}

.content>div {
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.form {
    padding: 10px;
    flex: auto;
}

.over {
    border: 3px dashed #09f;
    border-radius: 10px;
}

.none {
    border: 3px solid transparent;
}

.removeimg {
    position: relative;
}

.removeimg img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.removeimg button {
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 999px;
    color: #fff;
    font-size: 24px;
    width: 32px;
    height: 32px;
    top: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}